annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.6.17
click==8.1.8
colorama==0.4.6
decorator==5.3.1
dnspython==2.7.0
exceptiongroup==1.3.1
fastapi==0.128.8
h11==0.16.0
idna==3.18
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
motor==3.7.1
moviepy==2.2.1
numpy==2.0.2
opencv-python-headless==5.0.0.93
pillow==11.3.0
proglog==0.1.12
pydantic==2.13.4
pydantic_core==2.46.4
pymongo==4.17.0
python-dotenv==1.2.1
python-multipart==0.0.20
starlette==0.49.3
tqdm==4.69.0
typing-inspection==0.4.2
typing_extensions==4.16.0
uvicorn==0.39.0
cloudinary
requests
